.upperbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px;
    align-items: center;
    border-radius: 20px;
    background-color: lightgreen;
    box-shadow: 1px 1px 5PX;
}
.upperbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.upperbar a {
    text-decoration: none;
    color: slategray;
}

.upperbar h1 {
    color: slategray;
    font-size: 40px;
    margin:0px 10px 0px 10px;
}

 h1 {
    color: slategray;
    font-size: 40px;
    margin:0px 10px 0px 10px;
    text-align: center;
}

h2 {
    color: slategray;
    font-size: 40px;
    margin:10px 10px 10px 0px;
}

input {
    height: 50px;
    width: 400px;
    background: lightgreen;
    border-radius: 15px;
    font-size: 30px;
}


p {
    color: slategray;
    font-size: 30px;
    margin-top: 0%;
    margin-bottom: 0%;
    background:lightseagreen;
    border-radius: 10px;
    padding-right: 15px;
    padding-left: 15px;
}

.upperbar ul li {
    list-style: none;
    size: 30px;
    padding:5px 20px 5px 20px;
    margin:0px 10px 0px 10px;
    font-size: 40px;
    border-radius: 20px;
    background-color: lightcyan;
    box-shadow: 1px 1px 1PX;
}

.cuerpo {
    background-color: lightcyan;
    margin: 15px;
    border-radius: 20px;
    box-shadow: 1px 1px 5PX;
    padding: 20px;
}
.marioscreen {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 100px;
}

.marioscreen img {
    height: 250px;
    width: auto;
}

button {
    height: 50px;
    width: 200px;
    background: lightseagreen;
    border: none;
    border-radius: 15px;
    font-size: 30px;
    color: slategray;
}

.botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}